@font-face{
	font-family:CooperHewitt;
	src: url(font/CooperHewitt-Medium.woff);
}

body {
	margin:0;
	background: #333333;
	font-family:CooperHewitt;
	color: white;
	display: block;
	width: 100%;
	padding: 0;
}

h1, h2, h3, h4, h5 {
	font-size: 24px;
	text-transform: uppercase;
	line-height: 12px;
}

a:link, a:visited {
	color: #19D1FF;
	text-decoration: none;
	display: inline-block;
}

a:hover {
	color: #FFA500;
	text-decoration: underline;
}

li {
	list-style: none;
}

/* Home Panel */

div.home-panel {
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	box-shadow: 5px 5px 5px rgba(0,0,0,.5);
	z-index: 10; 
	width: 19%;
	padding-right: 15px;
	height: 680px;
  	display: inline-block;
}

div.home-container {
	position: relative;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	max-width: 100%;
	margin: 0;
	display: block;
	padding: 7%;
}

.logo-nav {
	padding-top: 2%;
}

img.sm-icon {
	display: block;
	margin: 10px;
}

/* Left nav menu */
nav {
	display: block;
	margin: 10px;
}

ul {
	display: block;
}

li#active > a {
	color: white;
	font-weight: bold;
}


/* Middle */

div.main-container {
	position: absolute;
	left: 13%;
	top: 0px;
	background: none repeat scroll 0% 0% #FFF;
	color: #000;
	transform: skew(-20deg);
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	z-index: 1;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: block;
	height: 680px;
	max-width: 200%;
}

div.content-here {
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	width: 100%;
	display: block;
}

div.welcome {
	display: inline-block;
	width: 47%;
	margin: 0;
}

ul.home-navigation {
	display: block;
	margin: 7% 0 0;
	padding: 0;
	width: 100%;
}

li.home-li {
	display: inline-block;
	width: 23%;
}

a.home-link {
	width: 100%;
	display: block;
	text-align: center;
}

a.headshot-link {
	display: inline-block;
	width: 35%;
}

.headshot {
	display: block;
}



/* Portfolio Pages */

.grid {
	display: inline-block;
	width: 35%;
	margin: 10%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.thumbnail {
	display: inline-block;
	width: 100px;
	height: 40px;
	background: gray;
}

.thumbnail-link {
	transform: skew(-20deg);
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	width: 100px;
}

.thumbnail-image {
	width: 100px;
	transform: skew(20deg);
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
}
