/* All hand-coded except navigation, loading and fading effects
	loading from GraphicFusion
	Fading from https://github.com/IanLunn */
	
/* DOCUMENT STRUCTURE 
	ALL
	HOME
	ABOUT
	MEDIA QUERIES
*/

/*--------- all -------*/

body {
	margin:0;
	display: block;
	width: 100%;
	padding: 0;
	font-family:Nobile;
	font-weight: 100;
	color: #333;
	font-size: 14px;
	line-height: 1.6;
	overflow: visible;
}

.wrapper {
	width: 100%;
	margin: 5% 0 0;
}

h1, h2, h3, h4, h5 {
	font-family: 'Bitter', serif;
	letter-spacing: 1px;
}

h1 {
	font-size: 24px;
	color: #ffc100;
}

h2, h3, h4, h5 {
	font-size: 21px;
	color:#2d2c2c;
}

a.icon::after {
	content: "Jenae Ramos";
	display: inline-block;
	width: 144px;
	margin: 0 0 5px 45px;
	font-size: 23px;
}

a:link, a:visited {
	color: #19D1FF;
	text-decoration: none;
	display: inline-block;
	outline:none;
}

.main-container a:hover {
	color: #ffc100;
	text-decoration: underline;
}

.main-container span a:hover {
	text-decoration: none;
}

.content-here > h1 {
	font-size: 21px;
}

.mobilenav li a:hover {
	color: #333;
	text-decoration: underline;
}

li {
	list-style: none;
}

em {
	font-weight: 100;
}

/*---------- home ----------*/

.main-container {
	display: block;
	width: 1250px;
	margin: 15% auto;
}

.gallery-here {
	max-width: 100%;
	width: 100%;
	display: block;
}

.gallery-here ul {
	width: 100%;
	padding:0;
	float: left;
	margin: 0 auto 10%;
	display: block;
	max-width: 100%;
	text-align: center;
}

.gallery-here > ul > a {
	display: inline-block;
	width: 350px;
	margin: 1% 2%;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.fade-in.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}

.fade-in.two {
-webkit-animation-delay: 1.6s;
-moz-animation-delay: 1.6s;
animation-delay: 1.6s;
}

.fade-in.three {
-webkit-animation-delay: 2.3s;
-moz-animation-delay: 2.3s;
animation-delay: 2.3s;
}

.fade-in.four {
-webkit-animation-delay: 2.5s;
-moz-animation-delay: 2.5s;
animation-delay: 2.5s;
}

.fade-in.five {
-webkit-animation-delay: 1.2s;
-moz-animation-delay:1.2s;
animation-delay: 1.2s;
}

.fade-in.six {
-webkit-animation-delay: 2s;
-moz-animation-delay: 2s;
animation-delay: 2s;
}

.hvr-float {
	-webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.gallery-here ul li {
	width: 100%;
	float: left;
	position: relative;
	display: inline-block;
}

.gallery-here ul li img {
	max-width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.trans-thumb {
	border: 1px #e7e7e7 solid;
}

.welcome {
	display: block;
	width: 100%;
	vertical-align: top;
}

.welcome > h1 {
	margin-bottom: 10%;
}

/*------=============== Portfolio ===============-------*/

.portfolio {
	max-width: 60%;
}

.extra-bottom, .gallery-here.extra-bottom {
	margin-bottom: 5%;
}

.extra-top {
	margin-top: 5%;
}

.gallery-here ul li img.portfolio {
	cursor: default;
}

/*---- Impossibility ----*/

.gallery-here.impossibility .portfolio {
	margin-bottom: 5%;
}

/*---- Virtuo ----*/

.welcome.virtuo {
	margin:0 auto 3%;
}

/*--------- Motorhouse ----------*/

.motorhouse.portfolio {
	display: inline-block;
}

.gallery-here.motorhouse {
	margin-bottom: 5%;
}

/*------ Stamps -------*/

.gallery-here.warhol {
	width: 78%;
	margin: 0 auto 5%;
}

.warhol .portfolio {
	margin: 0 auto 5%;
	width: 65%;
	display: block;
}

.portfolio.stamp {
	max-width: 37%;
}

.warhol p {
	text-align: left;
}

/*------- Bad Boss -------*/

.issuuembed {
	display: block;
	margin: 0 auto 5%;
}

/*---------========== About ===========----------*/

.about-image > img {
	width: 92%;
}

.welcome.about h1 {
	margin-bottom: 3%;
}

.welcome.about p {
	margin-bottom: 3%;
}


/*---------========== Media Queries ============------------*/
@media screen and (min-width:1050px){
	
	.main-container {
		width: 1250px;
		display: block;
	}
	
	.welcome {
		max-width: 100%;
		display: block;
		margin: 0;
	}
	
	.welcome > h1 {
		margin-bottom: 5%;
		font-size: 27px;
		font-weight: 100;
	}
	
	.gallery-here {
		max-width: 100%;
		display: block;
		margin: 0;
	}
	
	.gallery-here > ul > a {
		display: inline-block;
		width: 286px !important;
	}
}

@media screen and (min-width: 991px) {
	.main-container { 
		width: 92%;
		display: block;
		margin: 7% auto 0;
		text-align: center;
		max-width: 95%;
	}	
	
	.welcome {
		width: 100%;
		margin: 0 auto 5%;
	}
	
	.welcome > p {
		max-width: 37%;
		margin: 0 auto;
		text-align: left;
	}
	
	.gallery-here {
		width: 100%;
	}
	
	.gallery-here ul {
		width: 72%;
		float: none;
		margin: 0 auto;
	}
	
	.gallery-here > ul > a {
		display: inline-block;
		width: 38%;
		margin: 1% 2%;
	}
	
	.gallery-here.warhol .sheet {
		width: 50%;
	}
	
	.gallery-here.warhol p {
		width: 65%;
		text-align: left;
		margin: 0 auto 2%;
	}
}

@media screen and (max-width:990px){
	.wrapper {
		margin: 0;
		padding: 0;
	}
	
	.main-container {
		width: 88%;
		display: block;
		margin: 12% 6%;
		text-align: center;
	}
	
	.welcome {
		display: block;
		text-align: center;
		max-width: 100%;
		margin: 5% auto 10%;
		width: 63%;
	}
	
	.welcome > h1 {
		text-align: center;
		font-size: 42px;
	}
	
	.welcome > p {
		text-align: left;
		max-width: 100%;
		margin: 0 auto;
	}
	
	.gallery-here {
		display: block;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	
	.gallery-here ul {
		max-width: 100%;
		width: 100%;
		text-align: center;
	}
	
	.gallery-here > ul > a {
		margin: 2% 4% 2% 0;
	}
}

@media screen and (max-width:900px){
	.wrapper {
		margin: 0;
		padding: 0;
	}
	
	.main-container {
		width: 88%;
		display: block;
		margin: 20% auto 15%;
	}
	
	.welcome {
		display: block;
		width: 85%;
		margin: 8% 7% 6%;
	}
	
	.welcome > h1 {
		font-size: 36px;
	}
	
	.welcome > p {
		max-width: 75%;
		margin: 0 auto;
	}
	
	.gallery-here {
		display: block;
		max-width: 100%;
		margin: 0 auto;
		width: 100%;
	}
	
	.gallery-here ul {
		width: 100%;
		margin-bottom: 10%;
	}
	
	.gallery-here > ul > a {
		margin: 2% 4% 2% 0;
		width: 45%;
	}
}

@media screen and (max-width:800px){
	
	.welcome {
		display: block;
		width: 85%;
		margin: 20% 0 8% 8%;
	}
	
	.welcome > h1 {
		font-size: 33px;
	}
	
	.welcome > p {
		max-width: 100%;
	}
	
	.gallery-here {
		display: block;
		width: 90%;
		margin: 0 0 0 8%;
	}
	
	.gallery-here ul {
		width: 98%;
		margin-bottom: 6%;
	}
	
	.gallery-here > ul > a {
		margin: 0 2% 0 0;
		width: 45%;
	}
	
	.gallery-here.warhol img {
		max-width: 75%;
	}
}

@media screen and (max-width:600px){
	
	.welcome {
		display: block;
		width: 75%;
		margin: 18% 4% 10% 14%;
	}
	
	.welcome > h1 {
		font-size: 30px;
		margin-bottom: 15%;
	}
	
	.gallery-here {
		display: block;
		width: 100%;
		margin: 0 12%;
	}
	
	.gallery-here ul {
		width: 100%;
		max-width: 78%;
		margin: 0 auto;
	}
	
	.gallery-here > ul > a {
		width: 100%;
		margin: 0 auto;
		max-width: 49%;
	}
}

@media screen and (max-width:500px){
	
	.welcome {
		display: block;
		width: 75%;
		margin: 25% 4% 10% 14%;
	}
	
	.welcome > h1 {
		font-size: 27px;
	}
	
	.gallery-here {
		display: block;
		width: 100%;
		margin: 0 auto;
		max-width: 100%;
	}
	
	.gallery-here ul {
		width: 100%;
		max-width: 100%;
	}
	
	.gallery-here > ul > a {
		max-width: 45%;
	}
}

@media screen and (max-width:430px){
	
	.main-container {
		width: 97%;
		display: block;
	}
	
	.welcome {
		display: block;
		width: 88%;
		margin: 25% 0 10% 8%;
	}
	
	.welcome > h1 {
		font-size: 27px;
	}
	
	.gallery-here {
		display: block;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	
	.gallery-here > ul > a {
		width: 100%;
		margin: 0 auto;
		max-width: 100%;
	}
	
	.welcome.about h1 {
		margin-bottom: 5%;
	}
	
	.welcome.about p {
		margin-bottom: 3%;
	}
	
	.portfolio {
		max-width: 85%;
	}
	
	.motorhouse a .portfolio {
		max-width: 75%;
	}

	.quarry {
		display: none;
	}
	
	.gallery-here.warhol img {
		max-width: 100%;
		width: 100%;
	}

}
