body {
	font-family: 'Montserrat', sans-serif;
	margin:0 auto;
	text-align: center;
}

#container {
	margin:0 20px;
}

#nav {
	display:block;
	background-color:#333333;
	padding:8px;
	margin:0 0 15px;
}

#nav ul {
	text-align: center;
}

#nav ul li {
	margin-left: 3em;
	display:inline;
	border-style:none;
}

#nav > ul > li > a {
	text-decoration:none;
	color: white;
	text-transform:uppercase;
	display:inline-block;
}

#nav > ul > li > a#active {
	color:#45cdea;
}

#nav > ul > li > a:hover {
	color:#45cdea;
}

a:hover {
	color:#45cdea;
	text-decoration: underline;	
}

a {
	color: #f2047c;
}

img {
	display: block;
	margin:0 auto;
}
