/* Left nav menu */
nav {
	display: block;
	margin: 10px;
}

ul {
	display: block;
}

li { 
	list-style-type: none;
}

li#active {
	color: #FF47D1;
	font-weight: bold;
}
/* Section's Panels */
.submenu {
	top:35%;
	left: 50%;
}

.submenu-img:hover {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray; /* IE 6-9 */
}

div#main-container {
	position: absolute;
	left: 39%;
	top:0;
	padding: 25px;
	background: white;
	color: black;
	width:40%;
	height: 680px;
	vertical-align: middle;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	z-index: 1;
}

div#content-here {
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	top:35%;
	margin: 95px;
}

div#content-here > h1 {
	line-height:55px;
}
